/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
.btn-primary {
    color: #fff;
    background-color: #4CAF50;
    border-color: none;
    border: none;
    width: 738px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
    .btn-primary:hover {
        color: #fff;
        background-color: #45a049;
        border-color: none;
        width: 738px;
}
.btn-settings {
    color: #fff;
    background-color: #808080;
    border-color: none;
    border: none;
    width: 738px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

    .btn-settings:hover {
        color: #fff;
        background-color: #6c6b6b;
        border-color: none;
        width: 738px;
    }

.btn-back {
    color: #808080;
    background-color: none;
    border-color: none;
    border: none;
    width: 738px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

    .btn-back:hover {
        color: #808080;
        background-color: #e5e5e5;
        border-color: none;
        width: 738px;
    }

input[type=text] {
    background-color: #f7f6f6;

}
textarea {
    background-color: #f7f6f6;
    resize: none;
    
}

.container {
    border-radius: 1px;
    background-color: #fdfbfb;
    padding: 2px;
    width: 1050px;
    padding-left: 60px;
    padding-right: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #21d839;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
