@{
    ViewData["Title"] = "Read Me";
}
<h3>Welcome to the My John Deere OAuth2 CSharp Example.</h3>

<p>

    This project gives a full native CSharp example of:<br />
    <ul>
        <li>Getting a OAuth2 access token</li>
        <li> Call the MyJohnDeere APIs with your access token</li>
        <li>Edit Settings</li>
    </ul>
    <h4> Requirements</h4><br />
    <ul>
        <li>ASP.NET Core (Current Version: 3.0)</li>
        <li>
            Installed NuGet Packages:
            <ul>
                <li>Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation Version="3.0.0"</li>
                <li>Microsoft.Extensions.Logging.Debug Version="3.0.0"</li>
                <li>Microsoft.VisualStudio.Web.CodeGeneration.Design Version="3.0.0"</li>
                <li>Newtonsoft.Json Version="12.0.3"</li>
            </ul>
        </li>
        <li>A free port 9090 (you can change port in: Project Properties-Debug-then App URL).</li>
        <li>
            The callback for your application needs to be configured for the URL of this app:
            <ul>
                <li>In developer.deere.com, add <a href="http://localhost:9090/callback">http://localhost:9090/callback</a>  as one of the callbacks within OAuth Profile (you can have more than one).</li>
                <li>It is NOT recommended to keep this around for production use.</li>
                <li>
                    You use other ports/URLs and will also needs to be registered in <a href="https://developer.deere.com">https://developer.deere.com</a>. (Please allow up to 20 minutes for any changes to be replicated).
                </li>
            </ul>
        </li>
    </ul>


    <h4>Edit Settings</h4><br />
    <ul>
        <li>
            Once in the browser you will need a few things (Alternative option: update appsettings.json file directly)
            <ul>
                <li> Get ClientId and Secret from your application on <a href="https://developer.deere.com">https://developer.deere.com</a> and add to page.</li>
            </ul>
        </li>
        <li>
            The Auth URL and Access Token URL can be found with opening a new Postman request window and doing a GET on this URL <a href="https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/.well-known/oauth-authorization-server">https://signin.johndeere.com/oauth2/aus78tnlaysMraFhC1t7/.well-known/oauth-authorization-server</a>
            <ul>
                <li> Insert Authorization Endpoints and Token Endpoints to page or add to appsettings.json directly as noted above.</li>
            </ul>
        </li>
        <li>
            Add Scopes
            <ul>
                <li> Insert scopes, for example org1 org2. Can also be found under MyJohnDeere API Documentation section within <a href="https://developer.deere.com">https://developer.deere.com</a> for each endpoint.</li>
            </ul>
        </li>
    </ul>
    <h4>How to start this project</h4><br />

    <ul>
        <li>
            Clone this repository:
            <ul>
                <li>git clone git@github.com:JohnDeere/MyJohnDeereAPI-OAuth2-CSharp-Example.git</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            Build the project:
            <ul>
                <li>Build Solution</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            Start it:
            <ul>
                <li>Run IIS Express</li>
            </ul>
        </li>
    </ul>











</p>
